<br>

<h2 class="home">Bored?</h2>

<br>

<div class="container no-padding">
	<div class="col-xs-3 col-sm-3 col-md-3">
		<div class="img-pop">
			<a href="https://www.youtube.com/watch?v=5IZWeAwdJ-s" target="_blank"><img
				src="/images/parks.jpeg" class="img-fluid"></a>
		</div>
	</div>
	<div class="col-xs-3 col-sm-3 col-md-3">
		<div class="img-pop">
			<a href="https://www.youtube.com/watch?v=WBb3fojgW0Q" target="_blank"><img
				src="/images/bang.jpeg" class="img-fluid"></a>
		</div>
	</div>
	<div class="col-xs-3 col-sm-3 col-md-3">
		<div class="img-pop">
			<a href="https://www.youtube.com/watch?v=_zAJxNldNw8" target="_blank"><img
				src="/images/chopped.jpeg" class="img-fluid"></a>
		</div>
	</div>
	<div class="col-xs-3 col-sm-3 col-md-3">
		<div class="img-pop">
			<a href="https://www.youtube.com/watch?v=sEOuJ4z5aTc" target="_blank"><img
				src="/images/brooklyn.jpeg" class="img-fluid"></a>
		</div>
	</div>
</div>

<br>