<h2 class="home">New Releases</h2>

<br>

<div class="container no-padding">
	<div class="col-xs-3 col-sm-3 col-md-3">
		<div class="img-pop">
			<a href="https://www.youtube.com/watch?v=6sxCFZ8_d84" target="_blank"><img
				src="/images/nomadland.jpeg" class="img-fluid"></a>
		</div>
	</div>
	<div class="col-xs-3 col-sm-3 col-md-3">
		<div class="img-pop">
			<a href="https://www.youtube.com/watch?v=bE8pwEF-3TI" target="_blank"><img
				src="/images/let.jpeg" class="img-fluid"></a>
		</div>
	</div>
	<div class="col-xs-3 col-sm-3 col-md-3">
		<div class="img-pop">
			<a href="https://www.youtube.com/watch?v=eyzxu26-Wqk" target="_blank"><img
				src="/images/greyhound.jpeg" class="img-fluid"></a>
		</div>
	</div>
	<div class="col-xs-3 col-sm-3 col-md-3">
		<div class="img-pop">
			<a href="https://www.youtube.com/watch?v=5xH0HfJHsaY" target="_blank"><img
				src="/images/parasite.jpeg" class="img-fluid"></a>
		</div>
	</div>
</div>

<br>